
*{
    font-family: monospace;
}

window {
    background-color: #27212e;
    border-radius: 10px;
}

#input {
    margin: 10px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid #b381c5;
    background-color: #27212e;
    color: white;
}

#inner-box {
    background-color: #27212e;

}

#outer-box {
    margin: 5px;
    border-radius: 10px;
    padding:10px;
    border: 2px solid #eb64B9;
    background-color: #27212e;
}

#scroll {
    background-color: #eb64B9;
    color: #eb64B9;
}

#text {
padding: 5px;
color: white;
}


#entry:selected {
    background-color: #eb64B9;
    border-radius: 1px solid #27212e;
}

#text:selected {
}
